<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/landing.css">
<div class="box"></div>
  <h1>Landing Page!</h1>
  <p>Welcome to <span class="goodbrain">GoodBrain</span></p>

  <div class="profile">
    <div class="photo"><img src="https://www.class-central.com/bundles/classcentralsite/images/icon-personal-development.png"/></div>
    <div class="content">
      <div class="text">
        <h3>Yuval Beiser</h3>
        <h6>Front-end Web Designer</h6>
      </div>
      <div class="btn" onclick="btnfunctio"><span></span></div>
    </div>
    <div class="box"><i class="fa fa-codepen"></i><i class="fa fa-facebook"></i><i class="fa fa-github"></i><i class="fa fa-tumblr"></i><i class="fa fa-twitter"></i></div>
  </div>

 
  <a href="/exercises">
  <section class="container">
    <button data-hover="click me!"><div>View All Exercises</div></button>
    </p>
  </section>
  </a>


<% include partials/footer %>